<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about homepage_content">
			<h2>About</h2>
			<hr>
			<p>
				Hi there! I'm Gustavo. After my graduation two years ago, I <a href="#">worked</a> in Japan, participated in a <a href="#">startup accelerator</a> in Belgium, launched an <a href="#">app</a> and I'm now an aspiring <a href="#">iOS developer</a>. 
			</p>
			<p>
				I'll try to share a few things I learn along the way on this website. Feel free to <%= link_to "contact me", new_contact_path %>.
			</p>
		</div>
		<div class="col-2 homepage_content">
			<h2>Stuff I've written</h2>
			<hr>
			
			<% @posts.each do |post| %>
				<h3><a href="#"><%= link_to post.title, post %></a></h3>
				<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
			<% end %>
			
		</div>
		<div class="col-3 homepage_content">
			<h2>Stuff I've built</h2>
			<hr>
	
			<% @projects.each do |project| %>
				<h3><a href="#"><%= link_to project.title, project %></a></h3>
				<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
			<% end %>
		</div>
</div>