<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about homepage_content">
			<h2>About</h2>
			<hr>
			<p>
				Hi there! I'm Gustavo. Two years ago, after my graduation, I worked in Japan for <a href="https://gengo.com/" target="_blank">Gengo</a>, joined a <a href="http://www.nestup.be/" target="_blank">startup accelerator</a> in Belgium, launched an <a href="https://www.bit.ly/Dilemme" target="_blank">app</a> and I'm now an aspiring iOS developer at <a href="https://itunes.apple.com/be/app/immoweb/id420654412?mt=8" target="_blank">Immoweb</a>. 
			</p>
			<p>
				I'll try to share a few things I learn along the way on this website. Feel free to <%= link_to "contact me", new_contact_path %>.
			</p>
		</div>
		<div class="col-2 homepage_content">
			<h2>Stuff I've written</h2>
			<hr>
			
			<% @posts.each do |post| %>
				<h3><a href="#"><%= link_to post.title, post %></a></h3>
				<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
			<% end %>
			
		</div>
		<div class="col-3 homepage_content">
			<h2>Stuff I've built</h2>
			<hr>
	
			<% @projects.each do |project| %>
				<h3><a href="#"><%= link_to project.title, project %></a></h3>
				<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
			<% end %>
		</div>
</div>